node-red/x64/docker-exchange/.node-red/.flows.json.backup
[{"id":"143091b1.7c88ee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8b50ab6.fea4a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fff56838.217768","type":"scene","z":"","name":"default"},{"id":"75255579.5b133c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa82bd0a.a298","type":"ui_group","z":"","name":"Default","tab":"75255579.5b133c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a9a040a.cffa78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4e3c81aa.1ac8d","type":"pivot","z":"143091b1.7c88ee","scene":"fff56838.217768","name_conf_a":"pivot","height_conf_n":"","width_conf_n":"","subdivisions_conf_n":"","updatable_conf_b":false,"x":790,"y":580,"wires":[[]]},{"id":"7552f5f0.7889bc","type":"transform","z":"143091b1.7c88ee","name":"position","relative":false,"x":620,"y":580,"wires":[["4e3c81aa.1ac8d"]]},{"id":"b8a5c5b1.b2e228","type":"transform","z":"143091b1.7c88ee","name":"rotate","relative":false,"x":630,"y":620,"wires":[["4e3c81aa.1ac8d"]]},{"id":"a62ae70d.18f038","type":"ui_switch","z":"143091b1.7c88ee","name":"","label":"start Ros core","tooltip":"","group":"fa82bd0a.a298","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":380,"wires":[["ce6cd616.4b76f8"]]},{"id":"a9cd67b7.e46dc8","type":"ui_context_menu","z":"143091b1.7c88ee","group":"fa82bd0a.a298","order":1,"width":0,"height":-1,"fontSize":16,"position":"fixed","outputField":"payload","xCoordinate":50,"yCoordinate":50,"menu":"fixed","menuItems":[{"id":"1","icon":"fa-music","label":"label","topic":"topic","payload":"afsd","payloadType":"str","visible":true,"enabled":true}],"colors":"native","textColor":"#000000","backgroundColor":"#ffffff","borderColor":"#626262","intervalLength":0,"intervalUnit":"secs","startTimerAtOpen":false,"startTimerAtLeave":true,"stopTimerAtEnter":true,"name":"test contex","x":530,"y":320,"wires":[[]]},{"id":"ce6cd616.4b76f8","type":"exec","z":"143091b1.7c88ee","command":"uname -a","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"test","x":710,"y":360,"wires":[[],[],[]]}]