node-red/x64/docker-exchange/.node-red/flows.json
[{"id":"3f509608.6346fa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d50ab55.2827c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"36dbaa53.ea4e56","type":"ui_group","z":"","name":"Default","tab":"4d50ab55.2827c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2947eb7.034ca14","type":"scene","z":"","name":"default"},{"id":"5929f4a.804900c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c34fcfce.45877","type":"ros-server","z":"","url":"wss://localhost:11311/rosws"},{"id":"e014617.9a2f2a","type":"file","z":"3f509608.6346fa","name":"roscore_state","filename":"/controll/roscore","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":200,"wires":[[]]},{"id":"13f0f5c3.6e15ba","type":"pivot","z":"3f509608.6346fa","scene":"2947eb7.034ca14","name_conf_a":"pivot","height_conf_n":"","width_conf_n":"","subdivisions_conf_n":"","updatable_conf_b":false,"x":580,"y":400,"wires":[[]]},{"id":"b6947936.cd2e58","type":"ui_switch","z":"3f509608.6346fa","name":"switch","label":"switch","tooltip":"","group":"36dbaa53.ea4e56","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":200,"wires":[["e014617.9a2f2a","efb1faa7.1aa1a8"]]},{"id":"7da20852.3ef2c8","type":"transform","z":"3f509608.6346fa","name":"position","relative":false,"x":380,"y":360,"wires":[["13f0f5c3.6e15ba"]]},{"id":"608abb8a.7fbc04","type":"transform","z":"3f509608.6346fa","name":"rotate","relative":false,"x":370,"y":400,"wires":[["13f0f5c3.6e15ba"]]},{"id":"773ff3f0.78764c","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0.75,\"z\":0}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":360,"wires":[["7da20852.3ef2c8"]]},{"id":"3de20add.5d9a16","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"alpha\":0,\"beta\":0.2,\"gamma\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["608abb8a.7fbc04"]]},{"id":"a0dac82.96d3f38","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0,\"z\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["7da20852.3ef2c8"]]},{"id":"bace65ae.f7f528","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"alpha\":2,\"beta\":0,\"gamma\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[["608abb8a.7fbc04"]]},{"id":"450c4865.6a8908","type":"ground","z":"3f509608.6346fa","scene":"2947eb7.034ca14","name_conf_a":"base","height_conf_n":"","width_conf_n":"","subdivisions_conf_n":"","updatable_conf_b":false,"x":580,"y":460,"wires":[[]]},{"id":"efb1faa7.1aa1a8","type":"ui_text","z":"3f509608.6346fa","group":"36dbaa53.ea4e56","order":1,"width":0,"height":0,"name":"","label":"roscore on: ","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":260,"wires":[]},{"id":"e251238c.ceac5","type":"transform","z":"3f509608.6346fa","name":"amount","relative":false,"x":380,"y":460,"wires":[["450c4865.6a8908"]]},{"id":"990a0d7b.f731b","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0.75,\"z\":0,\"genname\":\"newpivot\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["e251238c.ceac5"]]}]