node-red/x64/docker-exchange/.node-red/flows.json
[{"id":"3f509608.6346fa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d50ab55.2827c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"36dbaa53.ea4e56","type":"ui_group","z":"","name":"Default","tab":"4d50ab55.2827c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2947eb7.034ca14","type":"scene","z":"","name":"default"},{"id":"5929f4a.804900c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e014617.9a2f2a","type":"file","z":"3f509608.6346fa","name":"roscore_state","filename":"/controll/roscore","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":400,"y":100,"wires":[[]]},{"id":"13f0f5c3.6e15ba","type":"pivot","z":"3f509608.6346fa","scene":"2947eb7.034ca14","name_conf_a":"left_link5","height_conf_n":"","width_conf_n":"","subdivisions_conf_n":"","updatable_conf_b":false,"x":580,"y":400,"wires":[[]]},{"id":"b6947936.cd2e58","type":"ui_switch","z":"3f509608.6346fa","name":"switch","label":"switch","tooltip":"","group":"36dbaa53.ea4e56","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":100,"wires":[["e014617.9a2f2a","efb1faa7.1aa1a8"]]},{"id":"7da20852.3ef2c8","type":"transform","z":"3f509608.6346fa","name":"position","relative":false,"x":380,"y":360,"wires":[["13f0f5c3.6e15ba"]]},{"id":"608abb8a.7fbc04","type":"transform","z":"3f509608.6346fa","name":"rotate","relative":false,"x":370,"y":400,"wires":[["13f0f5c3.6e15ba"]]},{"id":"773ff3f0.78764c","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0.75,\"z\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["7da20852.3ef2c8"]]},{"id":"3de20add.5d9a16","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"alpha\":0,\"beta\":0.2,\"gamma\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["608abb8a.7fbc04"]]},{"id":"a0dac82.96d3f38","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0,\"z\":0}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":340,"wires":[["7da20852.3ef2c8"]]},{"id":"bace65ae.f7f528","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"alpha\":2,\"beta\":0,\"gamma\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["608abb8a.7fbc04"]]},{"id":"450c4865.6a8908","type":"ground","z":"3f509608.6346fa","scene":"2947eb7.034ca14","name_conf_a":"base","height_conf_n":"6","width_conf_n":"6","subdivisions_conf_n":"","updatable_conf_b":false,"x":720,"y":520,"wires":[[]]},{"id":"efb1faa7.1aa1a8","type":"ui_text","z":"3f509608.6346fa","group":"36dbaa53.ea4e56","order":1,"width":0,"height":0,"name":"","label":"roscore on: ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":160,"wires":[]},{"id":"e251238c.ceac5","type":"transform","z":"3f509608.6346fa","name":"amount","relative":false,"x":380,"y":280,"wires":[["13f0f5c3.6e15ba"]]},{"id":"12b81521.11eb0b","type":"ui_numeric","z":"3f509608.6346fa","name":"","label":"Amount of Bases","tooltip":"","group":"36dbaa53.ea4e56","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":10,"step":1,"x":150,"y":220,"wires":[["e60efc5a.e0e82"]]},{"id":"8e674c9d.05a89","type":"function","z":"3f509608.6346fa","name":"","func":"var payload=msg.payload;\n\nfor (i=0;i<msg.payload;i++){\n    \n    message=message+i; //add count to message\n    var newmsg={payload:message,topic:msg.topic}\n    m_out.push(newmsg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[[]]},{"id":"6c651e13.a7cef","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":1.5,\"y\":0,\"z\":0,\"name\":\"pivot0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":720,"wires":[["7da20852.3ef2c8"]]},{"id":"af5216d3.898dd8","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":1,\"y\":0,\"z\":0,\"name\":\"pivot1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":760,"wires":[["7da20852.3ef2c8"]]},{"id":"8b53997d.75fa68","type":"inject","z":"3f509608.6346fa","name":"zero p1","topic":"","payload":"{\"x\":0,\"y\":0,\"z\":0,\"name\":\"pivot1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["7da20852.3ef2c8"]]},{"id":"a3c53136.f1aeb","type":"inject","z":"3f509608.6346fa","name":"zero p0","topic":"","payload":"{\"x\":0,\"y\":0,\"z\":0,\"name\":\"pivot0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["7da20852.3ef2c8"]]},{"id":"e60efc5a.e0e82","type":"template","z":"3f509608.6346fa","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"x\":0,\"y\":0,\"z\":0,\"amount\":{{payload}}}","output":"json","x":360,"y":220,"wires":[["e251238c.ceac5"]]},{"id":"b026fcbb.c2b9e","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"3","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["e60efc5a.e0e82"]]},{"id":"3f4ab225.475c4e","type":"inject","z":"3f509608.6346fa","name":"","topic":"","payload":"{\"x\":0,\"y\":0,\"z\":0}","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":520,"wires":[["87e490d6.ad7d7"]]},{"id":"87e490d6.ad7d7","type":"transform","z":"3f509608.6346fa","name":"position","relative":false,"x":580,"y":520,"wires":[["450c4865.6a8908"]]}]